@{
    @ViewBag.Title = "Login";
}

<div class="container">
    <div class="row">
        <h3 class="titulo">Login</h3>
    </div>
    <div class="row">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Conta", new { ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new { @class="form-horizontal", role="form"}))
            {
                <div class="form-group">
                    
                </div>
            }
        </section>
    </div>
</div>